/*
classes e tags: 
header#topo, ul.links, li, a
//
section.banner, h1
//
section#informacoes, div.textos h2 p, div.parallax-1 h3 div.parallax-2 h3
//
section#contatos h2 iframe p p p, 
//
section#horarios h2 ul+7li h3 p
//
footer p.icone-topo a img, p, p


*/
:root{
    --color-text-one:#c4a47c;
    --color-text-two:#666;
    --background-color-menu:#604829;
    --color-white:#fff;
    --color-border:#acacac;
    --color-black:#000000;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Fraunces', serif;
    box-sizing: border-box;
    border: 1px solid;
}

/*TOPO*/
header#topo{
    position: relative;
    width: 100%;
    height: 60px;
    background-color: var(--background-color-menu);
    
}
header#topo img{
    position: absolute;
    width: 60px;
    height: 60px;
    left: 150px;
}
header#topo .links .lista{
    display: inline;
    position: absolute;
    padding: 0 10px;
    top: 20px;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    
    

}
header#topo .links  .horarios{
    right: 120px;
}
header#topo .links  .contatos{
    right: 247px;
}
header#topo .links  .informacoes{
    right: 347px;
}
header#topo .links .lista a{
    text-decoration: none;
    color: var(--color-text-one);
    font-size: 14px;
    text-shadow: 1.2px 2.2px 0.5px var(--color-black);
}
/*banner*/
section.banner{
    position: relative;
    width: 100%;
    height: 98vh;
    background-image: url(../img/parallax-imagem1.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
   
   

}
section.banner h1{
    position: absolute;
    width: 100%;
    top: 40vh;
    color: var(--color-white);
    text-align: center;
    font-size: 48px;
    font-weight: 100;
    font-family: 'franuces', serif;
    
}
/*section informacoes*/
section#informacoes{
    position: relative;
    width: 100%;
}
section#informacoes div.textos{
    width: 100%;
    height: 300px;
    text-align: center;
    padding-top: 45px;

}
section#informacoes div.textos h2{
  
    color: var(--color-text-one);
    font-family: 'Oswald', sans-serif;
    margin-bottom: 10px;
   

}
section#informacoes div.textos p{
    margin: 0 auto;
    color: var(--color-text-two);
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 16px;
    padding: 0 21%;
    line-height: 24px;
    width: 890px;
    min-width: 100%;
   
   

}
section#informacoes div.parallax-1,
section#informacoes div.parallax-2{
    height: 300px;
    position: relative;
    text-align: center;
    padding-top: 140px;
   
}
section#informacoes div.parallax-1{
    background-image: url(../img/parallax-imagem2.jpg);
    background-size: cover;
    background-attachment: fixed;
}
section#informacoes div.parallax-2{
    background-image: url(../img/parallax-imagem3.jpg);
    background-size: cover;
    background-attachment: fixed;
}
section#informacoes div.parallax-1 h3,
section#informacoes div.parallax-2 h3{
    margin: 0 auto;
    font-family: 'frauces', serif ;
    font-size: 18px;
    font-style: italic;
    letter-spacing: 0.8px;
    background-color: var(--background-color-menu);
    color: var(--color-white);
    width: 340px;
    padding: 10px 20px;


}


/*icone topo*/
.footer{
    position: relative;
   
   
  
}

.footer p.icone-topo img {
  position:absolute;
  width: 60px;
   right: 50px;
   bottom: 80px;
   border: 1px solid;
    
}
